instaloader
emoji
openpyxl

numpy==1.24.3
pandas==2.0.3
scipy==1.10.1
scikit-learn==1.3.2

matplotlib==3.7.5
seaborn==0.13.2

torch==2.4.1
transformers==4.46.2
datasets==3.1.0
sentence-transformers
huggingface_hub==0.26.2

demucs==4.0.1
pyannote.audio==3.3.0
librosa==0.10.2.post1
pydub==0.25.1
openai-whisper==20240930
nltk

opencv-python
mediapipe
face_recognition
face-alignment
scikit-image
py-feat

bertopic
umap-learn
kneed
liwc

openai

tqdm==4.67.0
